# Jeton de lecture TMDB (API Read Access Token)
TMDB_TOKEN=

# Emplacement persistant de la base
CINEPROFILE_DB=data/cineprofile.db

# Région utilisée pour les plateformes et dates de sortie
CINEPROFILE_REGION=CH
CINEPROFILE_LANGUAGE=fr-FR
